.boardWrapper {
  flex-basis: 100%;
  padding: 4rem 0;

  // header {
  //   margin: auto;
  //   width: 440px;
  //   div {
  //     width: 110px;
  //     display: inline-block;
  //     text-align: center;
  //   }
  // }
}

.board {
  width: 440px;
  height: 440px;
  background-color: #BBAAAA;
  border-radius: 7px;
  margin: auto;
  padding: 5px;
  position: relative;
}
