.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  text-align: center;
  font-size: 3rem;
  flex-basis: 100%;
  margin: 2rem 0;
}

.score {
  font-size: 2rem;
  color: pink;
  font-weight: bold;
  display: block;
}

.gameOverOverlay, .winOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  text-align: center;
  display: block;
  z-index: 10;
  display: flex;
}

.gameOverTxt, .winTxt {
  text-align: center;
  color: pink;
  font-size: 5rem;
  flex-basis: 100%;
  padding-top: 20rem;
}

.winOverlay {
  background-color: pink;
}

.winTxt {
  color: green;
  font-size: 7rem;
}
