.cell {
  width: 100px;
  height: 100px;
  background-color: #DDCCBB;
  border-radius: 7px;
  margin: 5px;
  display: inline-block;
  color: #766;
  font-size: 2.5rem;
  vertical-align: middle;
  line-height: 6rem;
  text-align: center;
}
